
body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
#home1{
    color: aliceblue;
}
#head{
    
    display:flex ;
    height:90px;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 119, 189);
  
}  
#logo,#link  {
    flex: 1;
   

}
#link a{
    text-decoration: none;
    margin: 10px;
    color: rgb(238, 186, 186);
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}
#back{
    background-image: url("/image/home-image.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    
    font-weight: 800;
}
#home{
    text-align: center;
    background-color: black;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    
}
#move{
    background-color: black;
    opacity: 0.7;
    
}
#about{
    margin:auto;
    text-align: center;
    width: 80%;
    padding-top: 60px;
    
}
#about h1{
    
    font-family:'Courier New', Courier, monospace;
    font-weight: 1000;
}
#about p{
    font-size: larger;
}
#programs{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    
}
#programs h1{
    font-family:'Courier New', Courier, monospace;
}
#programs ul{
    display: flex;
    justify-content: space-between;
   font-weight: 900;
}
#registration{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    
    
}
#registration h1{
    font-family:'Courier New', Courier, monospace;
    font-weight: 1000;
    
}
#gallery{
    width: 80%;
   margin: auto;
    text-align: center;
    padding-top: 60px;
    
}
#gallery h1{
    font-family:'Courier New', Courier, monospace;
    font-weight: 1000;
    
}
#gallery img{
    width: 150px;
    height: 150px;
    
    
}
#image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
#image img{
    margin: 10px;
}
img{
    border: rgb(243, 221, 181) solid 1px;
}
footer{
    background-color: #1D1F33;
    
}
#foot{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
}
#foot h1{
    font-size: larger;
    font-family:'Courier New', Courier, monospace; ;
    text-align: center;
}
#copy{
color:white;
text-align: right;
margin-right: 20px;
}
#boxes{
    display: flex;
    /* justify-content: space-between; */
    
}

#principle{
    background-color: red;
    display: flex;
    margin: 40px 40px;
    height: 60vh;
    
}
#difference{
    background-color: blue;
    margin: 40px 40px;
    height: 60vh;
}
#neus{
    background-color: green;
    margin: 40px 40px;
    height: 60vh;
}
#principle,#difference,#neus{
    flex: 1; 
}
#last{
    margin-left: 40px;
}

    
